.custom-navbar {
    background-color: #8fd661cc;
}

/* Estilo para los botones */
.btn-info {
    margin-right: 0.5rem;
    background-color: transparent; /* Sin fondo para el botón de info */
    border-color: black;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.65);
    color:white ;
}

.navbar-toggler{
    border: 1px solid black;
}

.navbar-toggler:hover{
    background-color: var(--bs-info);
    border: transparent;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.alert-personalizada {
    border-radius: 15px;
    margin-top: 3rem;
    color: black;
    background-color: #80d661e6;    
}