.navbar {
    background-color: #80D662; /* Color de la barra de navegación */
    opacity: 80%;
}

/* Estilo para los botones */
.btn-info {
    background-color: transparent; /* Sin fondo para el botón de info */
    border-color: black;
}

.nav-link {
    color: black; /* Color de los enlaces en la navbar */
}

.nav-link:hover {
    background-color:rgb(15,25,15, 25);
    color:white ;
}

.navbar-toggler{
    border: 1px solid black;
}

.navbar-toggler:hover{
    background-color: var(--bs-info);
    border: transparent;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Estilo personalizado de la alerta */
.alert-personalizada {
    border-radius: 15px;
    margin-top: 3rem;
    /* background-color: #80D662; */
    background-color: rgba(128, 214, 98, 0.90);    
}